.form-error {
  @apply text-red-700;
  @apply mt-2;
  @apply text-sm;
}

.form-input.error,
.form-textarea.error,
.form-select.error {
  @apply border-red-600;
}

.form-input.error:focus {
  box-shadow: 0 0 0 1px theme('colors.red.600');
}

.focus-within\:form-input:focus-within {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  border-color: #63b3ed;
}